footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #190422;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    .left {
        .link {
            a {
                margin-right: 18px;
                color: #FFFFFF;
            }
        }
    }
    .right {
        form {
            input {
                padding: 12px;
                border-radius: 8px;
            }
            button {
                padding: 13px;
                background-color: #BC8AFC;
                border: none;
                border-radius: 8px;
            }
        }
        img {
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
    footer {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 80px;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) and (max-width: 1440px) {
}

@media (min-width: 1440px) {
}