  body {
    font-family: Arial, sans-serif;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #190422;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (max-width: 480px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        background-color: #190422;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 30px;
        padding-bottom: 30px;
      }
}

@media (min-width: 481px) and (max-width: 767px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        background-color: #190422;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 30px;
        padding-bottom: 30px;
      }
}

@media (min-width: 768px) and (max-width: 991px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        background-color: #190422;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
      }
}

@media (min-width: 992px) and (max-width: 1199px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        background-color: #190422;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
      }
}

@media (min-width: 1200px) and (max-width: 1440px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        background-color: #190422;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
      }
}

@media (min-width: 1440px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        background-color: #190422;
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 30px;
        padding-bottom: 30px;
      }
}
  
  .logo {
    color: #fff;
    font-size: 24px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .nav-links li {
    margin: 0 20px;
  }
  
  .nav-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  /* Responsive styles */
  @media (max-width: 834px) {
    .nav-links {
      display: none;
      position: absolute;
      top: 150px;
      right: 0;
      height: 90vh;
      width: 100%;
      flex-direction: column;
      background-color: #190422;
      align-items: center;
    }
  
    .nav-links li {
      margin: 20px 0;
    }
  
    .burger {
      display: block;
    }
  }
  
  /* Burger animation */
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line2 {
    opacity: 0;
  }
  
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  /* Nav animation */
  .nav-active {
    display: flex;
    animation: navLinkFade 0.5s ease forwards;
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  